#content_wrapper {
	padding-top:100px;

	@media screen and (max-width: $SCREEN_SIZE_SMALL) {
		padding-top:70px;
	}

	#content {

		width:95%;
		margin:0px auto;
		font-size:1.1em;
		padding:5px;

		@media screen and (min-width: $SCREEN_SIZE_SMALL) {
			max-width: $SCREEN_SIZE_SMALL;
			padding:0px;
		}
		@media screen and (min-width: $SCREEN_SIZE_MEDIUM) {
			max-width: $SCREEN_SIZE_MEDIUM;
			padding:3px;
		}
		@media screen and (min-width: $SCREEN_SIZE_LARGE) {
			max-width: $SCREEN_SIZE_LARGE;
			padding:5px;
		}
		h2 {
			border-bottom: solid #000000 5px;
			margin-bottom: 10px;
			font-size:1.2em;

			a {
				text-decoration:none;
				color:#000000;
			}
		}

		.content_row {
			min-height:150px;

			ul {
				margin-left:30px;
			}

			label {
				width:250px;
				display:block;
				float:left;
			}
		}
	}
}

