
#header, #footer {

	padding:5px;
	font-size: 1.2em;

	.MuiAppBar-colorPrimary {
		background-color: $COLOR_PRIMARY;
	}

	@media screen and (max-width: $SCREEN_SIZE_SMALL) {
		max-width: $SCREEN_SIZE_SMALL;
	}

	#title_block {
		padding:3px;
		flex:1;
		word-wrap: none;
		flex-wrap:nowrap;
		
		.title, .title_sub {
			text-decoration:none;
			color: $COLOR_PRIMARY_TEXT;

			@media screen and (max-width: $SCREEN_SIZE_SMALL) {
				font-size:1.1em;
			}
		}
		
		.title {
			font-weight:bold;
			min-width:160px;
			a {
				
				color: $COLOR_PRIMARY_TEXT;
			}
		}

		.title_sub {
			clear:both;
			font-size:.7em;
		}
	}
}

#footer {
	/*border-top:solid $COLOR_PRIMARY 2px;*/
	background:$COLOR_PRIMARY;
}
	
.nav_container {
	margin:10px 0px 0px 0px;
	color:black;
	font-size:.9em;
	float:right;

	@media screen and (max-width: $SCREEN_SIZE_SMALL)
	 {
		float:none;
		clear:both;
		margin:0px;
		height:30px;
		flex: none;
	}

	@media screen and (max-width: $SCREEN_SIZE_MEDIUM)
	 {
		float:none;
		clear:both;
		margin:0px;
		height:30px;
		flex: none;
	}

	ul {
		list-style-type: none; 
		display:flex;
		flex-wrap:wrap;
		justify-content:center;

		/*
		@media screen and (max-width: $SCREEN_SIZE_SMALL) {
			width:auto;
		}*/

		li {
			display:inline;
			list-style-type: none; 
			padding:5px 17px 5px 17px;
			text-align:center;
            border-bottom: solid $COLOR_PRIMARY 2px;

			a {
				text-decoration:none;
				color:black;
				text-align:center;
				color:$COLOR_PRIMARY_TEXT;
			}
		}

		li.current {
			text-decoration:underline;
		}

		li:hover {
			border-bottom:solid $COLOR_BACKGROUND 2px;
		}
	}
}

.nav_container_sm {
    @extend .nav_container;
    font-size:small;
    margin:0px 0px 0px 0px;

    li {
        padding:4px;
    }
}
	
